<header class="bg-[#3E2723] text-[#FFF8E1] shadow-lg py-3">
      <div class="container mx-auto px-6 flex justify-between items-center">
        <a href="#"><img src="logo-mix-v-02.png" alt="logo-mix" class="h-20 md:h-24 w-auto transition-all duration-300" ></a>
        <nav class="hidden md:flex gap-8 font-medium font-titillium">
          <a href="#sobre" class="hover:text-[#FFB300] transition-colors">Nossa Raiz</a>
          <a href="#cardapio" class="hover:text-[#FFB300] transition-colors">Destaques</a>
          <a href="#cardapio" class="hover:text-[#FFB300] transition-colors">Cardápio</a>
          <a href="#depoimentos" class="hover:text-[#FFB300] transition-colors">O que dizem</a>
          <a href="#contato" class="hover:text-[#FFB300] transition-colors">Contato</a>
        </nav>
        <button class="bg-[#E65100] text-white hover:bg-[#F57C00] md:block px-6 py-2 rounded-full font-bold transition-transform hover:scale-105 font-titillium">
          Fazer Reserva
        </button>
        <button class="md:hidden">
          ☰
        </button>
      </div>
</header>