@keyframes float {
  0% {
    transform: translateY(0px) rotate(-3deg);
  }
  50% {
    transform: translateY(-10px) rotate(-1deg);
  }
  100% {
    transform: translateY(0px) rotate(-3deg);
  }
}

.animate-float {
  animation: float 4s ease-in-out infinite;
}
