<div class="flex flex-wrap justify-center gap-4 py-8">
    <button 
      (click)="selectCategory('Todos')"
      [class.bg-nordeste-orange]="activeCategory() === 'Todos'"
      [class.text-white]="activeCategory() === 'Todos'"
      [class.bg-white]="activeCategory() !== 'Todos'"
      [class.text-nordeste-brown]="activeCategory() !== 'Todos'"
      class="px-6 py-2 rounded-full font-bold border-2 border-nordeste-orange transition-all hover:scale-105 shadow-sm font-titillium">
      Todos
    </button>
  
    @for (category of categories(); track category) {
      <button 
        (click)="selectCategory(category)"
        [class.bg-nordeste-orange]="activeCategory() === category"
        [class.text-white]="activeCategory() === category"
        [class.bg-white]="activeCategory() !== category"
        [class.text-nordeste-brown]="activeCategory() !== category"
        class="px-6 py-2 rounded-full font-bold border-2 border-nordeste-orange transition-all hover:scale-105 shadow-sm font-titillium">
        {{ category }}
      </button>
    }

    <button 
      (click)="toggleAddForm()"
      class="flex items-center justify-center w-11 h-11 rounded-full font-bold border-2 border-nordeste-orange bg-white text-nordeste-orange transition-all hover:bg-nordeste-orange hover:text-white hover:scale-105 shadow-sm text-xl pb-1" title="Adicionar categoria">
      +
    </button>
  </div>
